@charset "UTF-8";
/*import resets*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "oxigeno";
  src: url(../assets/Oxygen-Bold.ttf);
}
@font-face {
  font-family: "bruno";
  src: url(../assets/BrunoAce-Regular.ttf);
}
@font-face {
  font-family: "pacifico";
  src: url(../assets/Pacifico-Regular.ttf);
}
/*font-family: 'bruno';
*/
/*font-family: 'oxigeno'
*/
body {
  background-color: #000000;
}

section {
  font-family: "oxigeno";
}

a {
  text-decoration: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

/*import layout*/
header {
  background-color: black;
  color: black;
  font-family: "bruno";
  position: fixed;
  z-index: 16;
  width: 100%;
}

.carousel-inner {
  height: 600px;
}
.carousel-inner img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: top;
}

.wsp img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  object-fit: cover;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
}
.wsp img:hover {
  width: 90px;
  height: 90px;
  transition: 0.8s;
}

.hero {
  background-color: #000000;
  width: 100%;
  padding: 20px;
  border: 0px;
  margin: 0px;
}
.hero_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  justify-items: center;
  overflow: hidden;
}
.hero p {
  font-size: 60px;
  color: #ffffff;
  justify-content: center;
  font-family: "bruno";
  font-weight: bolder;
}

.sectioni {
  border: 3px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 460px);
  grid-template-areas: "area1 area2" "area3 area3" "area3 area3" "area4 area5" "area6 area6" "area6 area6" "area7 area8";
  gap: 120px 0;
  padding: 30px 15px;
  flex-direction: column;
  align-items: center;
}
.sectioni_index {
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  justify-items: center;
  align-items: end;
  color: black;
  border-radius: 6px;
  font-family: "oxigeno";
  overflow: hidden;
}
.sectioni h1, .sectioni h2, .sectioni p {
  padding: 20px;
}
.sectioni p {
  font-size: 15px;
}
.sectioni img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.sectioni iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.sectioni .S1 {
  grid-area: area1;
}
.sectioni .S2 {
  grid-area: area2;
}
.sectioni .S3 {
  grid-area: area3;
}
.sectioni .S4 {
  grid-area: area4;
}
.sectioni .S5 {
  grid-area: area5;
}
.sectioni .S6 {
  grid-area: area6;
}
.sectioni .S7 {
  grid-area: area7;
}
.sectioni .S8 {
  grid-area: area8;
}

.sectioni_index.S7 img:hover {
  width: 140%;
  height: 140%;
  transition: height 0.8s, width 1s;
}

.sectione {
  border: 3px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 400px);
  grid-template-areas: "area1 area2" "area3 area3" "area3 area3" "area4 area5" "area6 area6" "area6 area6" "area7 area8" "area9 area10" "area11 area12";
  gap: 120px 0px;
  padding: 30px 15px;
  flex-direction: column;
  align-items: center;
}
.sectione_entre {
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  justify-items: center;
  align-items: end;
  color: black;
  border-radius: 6px;
  font-family: "oxigeno";
}
.sectione h1, .sectione h2, .sectione p {
  padding: 20px;
}
.sectione p {
  font-size: 15px;
}
.sectione img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.sectione iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.sectione .S1 {
  grid-area: area1;
}
.sectione .S2 {
  grid-area: area2;
}
.sectione .S3 {
  grid-area: area3;
}
.sectione .S4 {
  grid-area: area4;
}
.sectione .S5 {
  grid-area: area5;
}
.sectione .S6 {
  grid-area: area6;
}
.sectione .S7 {
  grid-area: area7;
}
.sectione .S8 {
  grid-area: area8;
}
.sectione .S9 {
  grid-area: area9;
}
.sectione .S10 {
  grid-area: area10;
}
.sectione .S11 {
  grid-area: area11;
}
.sectione .S12 {
  grid-area: area12;
}

.sectionn {
  border: 3px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 400px);
  grid-template-areas: "area1 area2" "area3 area3" "area3 area3" "area4 area5" "area6 area6" "area6 area6" "area7 area8" "area10 area9" "area11 area12";
  gap: 120px 0px;
  padding: 30px 15px;
  flex-direction: column;
  align-items: center;
}
.sectionn_nutri {
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  justify-items: center;
  align-items: end;
  color: black;
  border-radius: 6px;
  font-family: "oxigeno";
}
.sectionn h1, .sectionn h2, .sectionn p {
  padding: 20px;
}
.sectionn p {
  font-size: 15px;
}
.sectionn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.sectionn iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.sectionn .S1 {
  grid-area: area1;
}
.sectionn .S2 {
  grid-area: area2;
}
.sectionn .S3 {
  grid-area: area3;
}
.sectionn .S4 {
  grid-area: area4;
}
.sectionn .S5 {
  grid-area: area5;
}
.sectionn .S6 {
  grid-area: area6;
}
.sectionn .S7 {
  grid-area: area7;
}
.sectionn .S8 {
  grid-area: area8;
}
.sectionn .S9 {
  grid-area: area9;
}
.sectionn .S10 {
  grid-area: area10;
}
.sectionn .S11 {
  grid-area: area11;
}
.sectionn .S12 {
  grid-area: area12;
}

.sections {
  border: 3px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 400px);
  grid-template-areas: "area1 area2" "area3 area3" "area3 area3" "area4 area5" "area6 area6" "area6 area6" "area8 area7" "area10 area9" "area11 area12";
  gap: 120px 0px;
  padding: 30px 15px;
  flex-direction: column;
  align-items: center;
}
.sections_suple {
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  justify-items: center;
  align-items: end;
  color: black;
  border-radius: 6px;
  font-family: "oxigeno";
}
.sections h1, .sections h2, .sections p {
  padding: 20px;
}
.sections p {
  font-size: 15px;
}
.sections img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.sections iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.sections .S1 {
  grid-area: area1;
}
.sections .S2 {
  grid-area: area2;
}
.sections .S3 {
  grid-area: area3;
}
.sections .S4 {
  grid-area: area4;
}
.sections .S5 {
  grid-area: area5;
}
.sections .S6 {
  grid-area: area6;
}
.sections .S7 {
  grid-area: area7;
}
.sections .S8 {
  grid-area: area8;
}
.sections .S9 {
  grid-area: area9;
}
.sections .S10 {
  grid-area: area10;
}
.sections .S11 {
  grid-area: area11;
}
.sections .S12 {
  grid-area: area12;
}

.sectionc {
  border: 3px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 400px);
  grid-template-areas: "area1 area2" "area3 area3" "area3 area3" "area4 area4" "area4 area4" "area5 area6" "area7 area7" "area7 area7";
  gap: 120px 0px;
  padding: 30px 15px;
  flex-direction: column;
  align-items: center;
}
.sectionc_conta {
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  justify-items: center;
  align-items: end;
  color: black;
  border-radius: 6px;
  font-family: "oxigeno";
}
.sectionc h1, .sectionc h2, .sectionc p {
  padding: 20px;
}
.sectionc p {
  font-size: 15px;
}
.sectionc img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.sectionc iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.sectionc .S_1 {
  grid-area: area1;
}
.sectionc .S2 {
  grid-area: area2;
}
.sectionc .S2.S2 {
  background-color: rgb(24, 22, 22);
  color: white;
  text-shadow: 5px 5px 5px gray;
  padding: 30px;
  font-size: 15px;
  display: flex;
  gap: 10px;
}
.sectionc .S3 {
  grid-area: area3;
}
.sectionc .S4 {
  grid-area: area4;
}
.sectionc .S5 {
  grid-area: area5;
}
.sectionc .S6 {
  grid-area: area6;
}
.sectionc .S7 {
  grid-area: area7;
}
.sectionc .S8 {
  grid-area: area8;
}

input,
textarea {
  box-shadow: 5px 2px rgb(38, 27, 49);
  border-radius: 5px;
  background-color: rgb(240, 229, 229);
}
input:hover,
input textarea:hover,
textarea:hover,
textarea textarea:hover {
  background-color: #26aea3;
}
input textarea,
textarea textarea {
  display: flex;
  justify-content: left;
  align-items: center;
}

.enviar {
  text-align: right;
  font-size: 20px;
}

/* MEDIAQUERIES INDEX*/
@media only screen and (max-width: 1024px) {
  .sectioni {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 500px);
    grid-template-areas: "area1" "area2" "area3" "area3" "area5" "area4" "area6" "area6" "area8" "area7";
    gap: 120px 0;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  .sectioni p {
    font-size: 15px;
  }
  .hero {
    padding: 10px;
  }
  .hero_content {
    padding: 20px;
  }
  .hero p {
    font-size: 30px;
  }
}
@media only screen and (max-width: 505px) {
  .sectioni {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 600px);
    grid-template-areas: "area1" "area2" "area3" "area3" "area5" "area4" "area6" "area6" "area8" "area7";
    gap: 120px 0;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  .sectioni p {
    font-size: 13px;
  }
  .links-footer-content ul li a {
    display: flex;
    flex-direction: column;
    color: #26aea3;
  }
  .hero {
    padding: 10px;
  }
  .hero_content {
    padding: 15px;
  }
  .hero p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 100px) and (max-width: 350px) {
  .sectioni {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 700px);
    grid-template-areas: "area1" "area2" "area3" "area3" "area5" "area4" "area6" "area6" "area8" "area7";
    gap: 120px 0;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  .sectioni h1 {
    font-size: 30px;
  }
  .sectioni p {
    font-size: 12px;
  }
  .links-footer-content ul li a {
    display: flex;
    flex-direction: column;
    color: #26aea3;
  }
  .hero {
    padding: 5px;
  }
  .hero_content {
    padding: 10px;
  }
  .hero p {
    font-size: 12px;
  }
}
/* MEDIAQUERIES ENTRENAMIENTO*/
@media only screen and (max-width: 1024px) {
  .sectione {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 500px);
    grid-template-areas: "area1" "area2" "area3" "area5" "area4" "area6" "area7" "area8" "area10" "area9" "area11" "area12";
    gap: 120px 0;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  .sectione p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 505px) {
  .sectione {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 600px);
    grid-template-areas: "area1" "area2" "area3" "area5" "area4" "area6" "area7" "area8" "area10" "area9" "area11" "area12";
    gap: 120px 0;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  .sectione p {
    font-size: 13px;
  }
  .links-footer-content ul li a {
    display: flex;
    flex-direction: column;
    color: #26aea3;
  }
}
@media only screen and (min-width: 100px) and (max-width: 350px) {
  .sectione {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 700px);
    grid-template-areas: "area1" "area2" "area3" "area5" "area4" "area6" "area7" "area8" "area10" "area9" "area11" "area12";
    gap: 120px 0;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  .sectione h2 {
    font-size: 30px;
  }
  .sectione p {
    font-size: 12px;
  }
  .links-footer-content ul li a {
    display: flex;
    flex-direction: column;
    color: #26aea3;
  }
}
/* MEDIAQUERIES NUTRICIÓN*/
@media only screen and (max-width: 1024px) {
  .sectionn {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 500px);
    grid-template-areas: "area1" "area2" "area3" "area5" "area4" "area6" "area7" "area8" "area10" "area9" "area11" "area12";
    gap: 120px 0;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  .sectionn p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 505px) {
  .sectionn {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 600px);
    grid-template-areas: "area1" "area2" "area3" "area5" "area4" "area6" "area7" "area8" "area10" "area9" "area11" "area12";
    gap: 120px 0;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  .sectionn p {
    font-size: 13px;
  }
  .links-footer-content ul li a {
    display: flex;
    flex-direction: column;
    color: #26aea3;
  }
}
@media only screen and (min-width: 100px) and (max-width: 350px) {
  .sectionn {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 700px);
    grid-template-areas: "area1" "area2" "area3" "area5" "area4" "area6" "area7" "area8" "area10" "area9" "area11" "area12";
    gap: 120px 0;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  .sectionn h2 {
    font-size: 30px;
  }
  .sectionn p {
    font-size: 12px;
  }
  .links-footer-content ul li a {
    display: flex;
    flex-direction: column;
    color: #26aea3;
  }
}
/* MEDIAQUERIES SUPLEMENTACIÓN*/
@media only screen and (max-width: 1024px) {
  .sections {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 500px);
    grid-template-areas: "area1" "area2" "area3" "area5" "area4" "area6" "area7" "area8" "area10" "area9" "area11" "area12";
    gap: 120px 0;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  .sections p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 505px) {
  .sections {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 600px);
    grid-template-areas: "area1" "area2" "area3" "area5" "area4" "area6" "area7" "area8" "area10" "area9" "area11" "area12";
    gap: 120px 0;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  .sections p {
    font-size: 13px;
  }
  .links-footer-content ul li a {
    display: flex;
    flex-direction: column;
    color: #26aea3;
  }
}
@media only screen and (min-width: 100px) and (max-width: 350px) {
  .sections {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 700px);
    grid-template-areas: "area1" "area2" "area3" "area5" "area4" "area6" "area7" "area8" "area10" "area9" "area11" "area12";
    gap: 120px 0;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  .sections h2 {
    font-size: 30px;
  }
  .sections p {
    font-size: 12px;
  }
  .links-footer-content ul li a {
    display: flex;
    flex-direction: column;
    color: #26aea3;
  }
}
/* MEDIAQUERIES CONTACTO*/
@media only screen and (max-width: 1024px) {
  .sectionc {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 500px);
    grid-template-areas: "area1" "area2" "area3" "area4" "area6" "area5" "area7";
    gap: 120px 0;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  .sectionc p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 505px) {
  .sectionc {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 600px);
    grid-template-areas: "area1" "area2" "area3" "area4" "area6" "area5" "area7";
    gap: 120px 0;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  .sectionc p {
    font-size: 18px;
  }
  .links-footer-content ul li a {
    display: flex;
    flex-direction: column;
    color: #26aea3;
  }
}
@media only screen and (min-width: 100px) and (max-width: 350px) {
  .sectionc {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 600px 500px);
    grid-template-areas: "area1" "area2" "area3" "area4" "area6" "area5" "area7";
    gap: 120px 0;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  .sectionc h2 {
    font-size: 32px;
  }
  .sectionc p {
    font-size: 22px;
  }
  .links-footer-content ul li a {
    display: flex;
    flex-direction: column;
    color: #26aea3;
  }
}
/*import components*/
.nav-link {
  font-size: 20px;
  color: #26aea3;
  font-weight: bold;
  font-family: "bruno";
  text-align: right;
}

/*footer*/
.links-footer {
  background-color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  font-family: "bruno";
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.links-footer-content ul li, .links-footer a {
  padding: 10px;
  display: inline;
  color: #26aea3;
}
.links-footer-content ul li:hover, .links-footer a:hover {
  color: black;
}

/*# sourceMappingURL=style.css.map */
