
/*import resets*/
@import 'base/variables';
@import 'base/resets';
@import 'base/utilities';

/*import layout*/

@import 'layout/index';

@import 'layout/entrenamiento';

@import 'layout/nutrición';

@import 'layout/suplementación';

@import 'layout/contacto';

@import 'layout/mediaqueries';



/*import components*/

@import 'components/navbar';
@import 'components/footer';

