/* MEDIAQUERIES INDEX*/

@media only screen and (max-width:1024px) {

    .sectioni {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 500px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area3'
            'area5'
            'area4'
            'area6'
            'area6'
            'area8'
            'area7'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 20px;
        }
    }

    .hero {
        padding: 10px;

        &_content {
            padding: 20px;
        }

        p {
            font-size: 32px;
        }
    }
}


@media only screen and (max-width:750px) {

    .sectioni {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 750px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area8'
            'area7'
        ;

        p {
            font-size: 20px;
        }

        iframe {
            height: 360px;
            width: 100%;
        }

        .S2 {
            height: 360px;
            width: 100%;
        }

        .S4 {
            height: 360px;
            width: 100%;
        }
    }

    .hero {
        padding: 10px;

        &_content {
            padding: 15px;
        }

        p {
            font-size: 30px;
        }
    }
}


@media only screen and (max-width:580px) {

    .sectioni {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 700px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area8'
            'area7'
        ;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    }

    .links-footer-content ul li a {
        display: flex;
        flex-direction: column;
        color: #135953;
    }

    .hero {
        padding: 5px;

        &_content {
            padding: 10px;
        }

        p {
            font-size: 25px;
        }
    }

    .wsp img {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        object-fit: cover;
        position: fixed;
        bottom: 30px;
        right: 10px;
        z-index: 1;

        &:hover {
            width: 60px;
            height: 60px;
            transition: 0.8s;
        }
    }
}

@media only screen and (max-width:480px) {

    .sectioni {
        h1 {
            font-size: 30px;
        }

        p {
            font-size: 15px;
        }
    }

    .hero {
        padding: 5px;

        &_content {
            padding: 10px;
        }

        p {
            font-size: 21px;
        }
    }
}


@media only screen and (min-width:100px) and (max-width:360px) {

    .sectioni {
        h1 {
            font-size: 30px;
        }

        p {
            font-size: 12px;
        }
    }

    .hero {
        padding: 5px;

        &_content {
            padding: 10px;
        }

        p {
            font-size: 20px;
        }
    }
}



/* MEDIAQUERIES ENTRENAMIENTO*/

@media only screen and (max-width:1024px) {

    .sectione {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 500px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 20px;
        }
    }
}

@media only screen and (max-width:800px) {

    .sectione {
        p {
            font-size: 18px;
        }
    }
}

@media only screen and (max-width:700px) {

    .sectione {
        p {
            font-size: 16px;
        }
    }
}

@media only screen and (max-width:600px) {

    .sectione {
        p {
            font-size: 14px;
        }
    }
}

@media only screen and (max-width:750px) {

    .sectione {
        iframe {
            height: 360px;
            width: 100%;
        }

        .S4 {
            height: 360px;
            width: 100%;
        }
    }
}



@media only screen and (max-width:505px) {

    .sectione {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 600px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;

        p {
            font-size: 13px;
        }

        iframe {
            height: 360px;
            width: 100%;
        }

        .S4 {
            height: 360px;
            width: 100%;
        }
    }

    .links-footer-content ul li a {
        display: flex;
        flex-direction: column;
        color: #135953;
    }
}


@media only screen and (min-width:100px) and (max-width:360px) {

    .sectione {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 700px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 13px;
        }

        iframe {
            height: 360px;
            width: 100%;
        }

        .S4 {
            height: 360px;
            width: 100%;
        }
    }
}


/* MEDIAQUERIES NUTRICIÓN*/

@media only screen and (max-width:1024px) {

    .sectionn {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 500px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 20px;
        }
    }
}

@media only screen and (max-width:800px) {

    .sectionn {
        p {
            font-size: 18px;
        }
    }
}

@media only screen and (max-width:700px) {

    .sectionn {
        p {
            font-size: 16px;
        }
    }
}

@media only screen and (max-width:600px) {

    .sectionn {
        p {
            font-size: 14px;
        }
    }
}

@media only screen and (max-width:750px) {

    .sectionn {
        iframe {
            height: 360px;
            width: 100%;
        }

        .S4 {
            height: 360px;
            width: 100%;
        }
    }
}


@media only screen and (max-width:505px) {

    .sectionn {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 600px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;

        p {
            font-size: 13px;
        }

        iframe {
            height: 320px;
            width: 100%;
        }

        .S4 {
            height: 320px;
            width: 100%;
        }
    }

    .links-footer-content ul li a {
        display: flex;
        flex-direction: column;
        color: #135953;
    }
}


@media only screen and (min-width:100px) and (max-width:360px) {

    .sectionn {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 700px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 13px;
        }
    }

    iframe {
        height: 360px;
        width: 100%;
    }

    .S4 {
        height: 360px;
        width: 100%;
    }
}


/* MEDIAQUERIES SUPLEMENTACIÓN*/

@media only screen and (max-width:1024px) {

    .sections {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 500px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 20px;
        }
    }
}

@media only screen and (max-width:800px) {

    .sections {

        p {
            font-size: 18px;
        }
    }
}

@media only screen and (max-width:700px) {

    .sections {

        p {
            font-size: 16px;
        }
    }
}

@media only screen and (max-width:600px) {

    .sections {
        p {
            font-size: 14px;
        }
    }
}

@media only screen and (max-width:750px) {

    .sections {
        iframe {
            height: 360px;
            width: 100%;
        }

        .S4 {
            height: 360px;
            width: 100%;
        }
    }
}


@media only screen and (max-width:505px) {

    .sections {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 600px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;

        p {
            font-size: 13px;
        }
    }

    .links-footer-content ul li a {
        display: flex;
        flex-direction: column;
        color: #135953;
    }
}


@media only screen and (min-width:100px) and (max-width:360px) {

    .sections {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 700px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 13px;
        }
    }

    iframe {
        height: 360px;
        width: 100%;
    }

    .S4 {
        height: 360px;
        width: 100%;
    }
}


/* MEDIAQUERIES CONTACTO*/

@media only screen and (max-width:1024px) {

    .sectionc {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 500px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area4'
            'area6'
            'area5'
            'area7'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 15px;
        }
    }
}


@media only screen and (max-width:505px) {

    .sectionc {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 600px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area4'
            'area6'
            'area5'
            'area7'
        ;

        p {
            font-size: 18px;
        }
    }
}


@media only screen and (min-width:100px) and (max-width:360px) {

    .sectionc {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 700px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area4'
            'area6'
            'area5'
            'area7'
        ;

        h2 {
            font-size: 32px;
        }

        p {
            font-size: 22px;
        }

        .S_1 {
            width: 100%;
            height: 500px;
        }
    }
}


/*MEDIAQUERIES PRODUCTOS*/

@media only screen and (max-width:1024px) {

.sectionp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 300px);
    grid-template-areas:
        'area1 area2'
        'area3 area4'
        'area5 area6'
        'area7 area8'
        'area9 area10'
    ;
    gap: 120px 20px;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 20px;
    }
}

.hero-produ {
    padding: 10px;

    &-content {
        padding: 20px;
    }

    p {
        font-size: 32px;
    }
}
}


@media only screen and (max-width:750px) {

.sectionp {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 750px);
    grid-template-areas:
        'area1'
        'area2'
        'area3'
        'area4'
        'area5'
        'area6'
        'area7'
        'area8'
        'area9'
        'area10'
    ;

    p {
        font-size: 20px;
    }

}

.hero-produ {
    padding: 10px;

    &-content {
        padding: 15px;
    }

    h1 {
        font-size: 30px;
    }
}
}


@media only screen and (max-width:580px) {

.sectionp {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 600px);
    grid-template-areas:
        'area1'
        'area2'
        'area3'
        'area4'
        'area5'
        'area6'
        'area7'
        'area8'
        'area9'
        'area10'
    ;

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }
}

.links-footer-content ul li a {
    display: flex;
    flex-direction: column;
    color: #135953;
}

.hero-produ {
    padding: 5px;

    &-content {
        padding: 10px;
    }

    h1 {
        font-size: 25px;
    }
}

.wsp img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 1;

    &:hover {
        width: 60px;
        height: 60px;
        transition: 0.8s;
    }
}
}

@media only screen and (max-width:480px) {

.sectionp {
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 15px;
    }
}

.hero-produ {
    padding: 5px;

    &-content {
        padding: 10px;
    }

    h1 {
        font-size: 21px;
    }
}
}


@media only screen and (min-width:100px) and (max-width:360px) {

.sectionp {
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 12px;
    }
}

.hero-produ {
    padding: 5px;

    &-content {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }
}
}
