/* MEDIAQUERIES INDEX*/

@media only screen and (max-width:1024px) {

    .sectioni {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 500px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area3'
            'area5'
            'area4'
            'area6'
            'area6'
            'area8'
            'area7'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 15px;
        }
    }

    .hero {
        padding: 10px;

        &_content{
            padding: 20px;
        }

        p{
            font-size: 30px;
        }
    }
}


@media only screen and (max-width:505px) {

    .sectioni {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 600px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area3'
            'area5'
            'area4'
            'area6'
            'area6'
            'area8'
            'area7'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 13px;
        }
    }

    .links-footer-content ul li a {
        display: flex;
        flex-direction: column;
        ;
        color: #26aea3;
    }

    .hero {
        padding: 10px;

        &_content{
            padding: 15px;
        }

        p{
            font-size: 20px;
        }
    }
}




@media only screen and (min-width:100px) and (max-width:350px) {

    .sectioni {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 700px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area3'
            'area5'
            'area4'
            'area6'
            'area6'
            'area8'
            'area7'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 12px;
        }
    }

    .links-footer-content ul li a {
        display: flex;
        flex-direction: column;
        color: #26aea3;
    }

    .hero {
        padding: 5px;

        &_content{
            padding: 10px;
        }

        p{
            font-size: 12px;
        }
    }
}

/* MEDIAQUERIES ENTRENAMIENTO*/

@media only screen and (max-width:1024px) {

    .sectione {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 500px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 15px;
        }
    }
}


@media only screen and (max-width:505px) {

    .sectione {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 600px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 13px;
        }
    }

    .links-footer-content ul li a {
        display: flex;
        flex-direction: column;
        color: #26aea3;
    }
}


@media only screen and (min-width:100px) and (max-width:350px) {

    .sectione {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 700px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 12px;
        }
    }

    .links-footer-content ul li a {
        display: flex;
        flex-direction: column;
        color: #26aea3;
    }
}


/* MEDIAQUERIES NUTRICIÓN*/

@media only screen and (max-width:1024px) {

    .sectionn {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 500px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 15px;
        }
    }
}


@media only screen and (max-width:505px) {

    .sectionn {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 600px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 13px;
        }
    }

    .links-footer-content ul li a {
        display: flex;
        flex-direction: column;
        color: #26aea3;
    }
}


@media only screen and (min-width:100px) and (max-width:350px) {

    .sectionn {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 700px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 12px;
        }
    }

    .links-footer-content ul li a {
        display: flex;
        flex-direction: column;
        color: #26aea3;
    }
}

/* MEDIAQUERIES SUPLEMENTACIÓN*/

@media only screen and (max-width:1024px) {

    .sections {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 500px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 15px;
        }
    }
}


@media only screen and (max-width:505px) {

    .sections {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 600px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 13px;
        }
    }

    .links-footer-content ul li a {
        display: flex;
        flex-direction: column;
        color: #26aea3;
    }
}


@media only screen and (min-width:100px) and (max-width:350px) {

    .sections {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 700px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area5'
            'area4'
            'area6'
            'area7'
            'area8'
            'area10'
            'area9'
            'area11'
            'area12'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 12px;
        }
    }

    .links-footer-content ul li a {
        display: flex;
        flex-direction: column;
        color: #26aea3;
    }
}

/* MEDIAQUERIES CONTACTO*/

@media only screen and (max-width:1024px) {

    .sectionc {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 500px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area4'
            'area6'
            'area5'
            'area7'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 15px;
        }
    }
}


@media only screen and (max-width:505px) {

    .sectionc {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 600px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area4'
            'area6'
            'area5'
            'area7'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 18px;
        }
    }

    .links-footer-content ul li a {
        display: flex;
        flex-direction: column;
        color: #26aea3;
    }
}


@media only screen and (min-width:100px) and (max-width:350px) {

    .sectionc {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 600px 500px);
        grid-template-areas:
            'area1'
            'area2'
            'area3'
            'area4'
            'area6'
            'area5'
            'area7'
        ;
        gap: 120px 0;
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 32px;
        }

        p {
            font-size: 22px;
        }
    }

    .links-footer-content ul li a {
        display: flex;
        flex-direction: column;
        color: #26aea3;
    }
}