/*footer*/


.links-footer {
    background-color: aliceblue;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'bruno';
    margin: 10px;
    padding: 10px;
    text-align: center;

    &-content ul li, a {
        padding: 10px;
        display: inline;
        color: #135953;
    
    
        &:hover {
        color: black;
    }
    }
}

